<h1 class="site-heading text-center text-white d-none d-lg-block">
    <!-- <span class="site-heading-upper text-primary mb-3">A Free Bootstrap 4 Business Theme</span>
      <span class="site-heading-lower">Business Casual</span> -->
    <a href="/">
      <img src="{{ url_for('static', filename='logo.png')}}" alt="BIOKONVERSI" height="100px">
    </a>
  </h1> 
 <!-- Navigation -->
  <!-- <nav class="navbar navbar-expand-lg navbar-light py-lg-4" id="mainNav"> -->
  <nav class="navbar navbar-expand-lg navbar-light p-0" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="/">
        <img src="{{ url_for('static', filename='logo.png')}}" alt="BIOKONVERSI" height="50px">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link text-uppercase text-expanded px-4 py-3" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-uppercase text-expanded px-4 py-3" href="/produk">Produk</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase text-expanded px-4 py-3" href="/distribusi">Distribusi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase text-expanded px-4 py-3" href="/dokumen">Dokumen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase text-expanded px-4 py-3" href="/media">Media</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase text-expanded px-4 py-3" href="/kontak">Kontak</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>