{% extends '_dashboard.html' %} {% block body %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-2">
  <h2>Buat Berita</h2>
  {% from '_formhelpers.html' import render_field %}
  <form action="" method="POST">
    <div class="form-group">
      {{ render_field(form.title, class='form-control')}}
    </div>
    <div class="form-group">
      {{ render_field(form.body, class='form-control', id="editor")}}
    </div>
    <div class="form-group">
      {{ render_field(form.img, class='form-control')}}
    </div>
    <div class="form-group">
      {{ render_field(form.stat, class='form-control')}}
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </form>
</main>

{% endblock %}