{% extends 'layout.html' %} {% include '_nav.html' %} {% block body %}

<!-- flask-googlemap js -->
{{distributionmap.js}}

<section class="page-section m-0">
  <div class="produk-header" style="background: url('{{ url_for('static', filename='doc-header.jpeg')}}');background-attachment:fixed;background-position:bottom;">
  </div>
</section>

<section class="page-section about-heading">
  <div class="container">
    <div class="col-md-10 mx-auto text-center">
      <h2 class="section-heading text-white nav1">
        <span class="section-heading-lower">Distribusi</span>
      </h2>
    </div>
    <div class="col-12 mx-auto">
      <!-- <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5 text-white">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">THIS PAGE IS UNDER CONSTRUCTION</span>
            </h2>
          </div>
        </div> -->
      {{distributionmap.html}}
    </div>
  </div>
</section>

{% endblock %}