{% extends 'layout.html' %} {% include '_nav.html' %} {% block body %}

<section class="page-section m-0">
  <div class="produk-header" style="background: url('{{ url_for('static', filename='berita_header.jpeg')}}');background-attachment:fixed;background-position:center;background-size:cover">
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="col-12 col-md-10 mx-auto text-center">
      <h2 class="section-heading text-white nav1">
        <span class="section-heading-lower">Berita</span>
      </h2>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="col-12 col-md-8 mx-auto">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="../../static/img/{{article.img}}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="../../static/img/{{article.img}}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="../../static/img/{{article.img}}" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="col-12 col-md-10 mx-auto">
      <h1>{{article.title}}</h1>
      <br>
      <p>
        <strong>{{article.create_date}}</strong>
      </p>
      <span class="text-justify">
        {{ article.body | safe}}
      </span>
    </div>
  </div>
</section>

{% endblock %}