{% extends 'layout.html' %} {% include '_nav.html' %} {% block body %}

<section class="page-section m-0">
  <div class="produk-header" style="background: url('{{ url_for('static', filename='doc-header.jpeg')}}');background-attachment:fixed;background-position:bottom;">
  </div>
</section>

<section class="page-section py-3">
  <div class="container">
    <div class="col-md-10 mx-auto text-center">
      <h2 class="section-heading text-white nav1">
        <span class="section-heading-lower">Dokumen Biokonversi</span>
      </h2>
      <p>
        Dapatkan katalog dan materi tentang produk - produk
        <strong>PT. Bio Konversi Indonesia</strong> dengan mengunduh dokumen - dokumen pendukung secara resmi melalui website official
        <strong>Biokonversi.com</strong>
      </p>
    </div>
  </div>
</section>

<section class="page-section nav1 py-5 mb-5">
  <div class="container">
    <div class="text-white">
      <div class="col-md-10 col-10 mx-auto my-5 row">
        <div class="col-md-8 col-12">
          <a href="https://drive.google.com/open?id=1jm7DwSCFynWTsq3-0YZp6yEPF1J9EoMS" target="_blank">
            <img src="../static/img/doc-1.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="col-md-4 col-12">
            <p class="brand-title">Brosur Biokonversi 2018</p>
            <p>Katalog Produk Biokonversi</p><br>
            <a class="btn btn-outline-primary" href="https://drive.google.com/open?id=1jm7DwSCFynWTsq3-0YZp6yEPF1J9EoMS" target="_blank">
              Unduh Dokumen
            </a>            
        </div>
      </div>
      <div class="col-md-10 col-10 mx-auto my-5 row">
        <div class="col-md-8 col-12">
          <a href="https://drive.google.com/open?id=1e4qCpbaNQqmIektatwfzjF4tSFhPUKsd" target="_blank">
            <img src="../static/img/doc-2.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="col-md-4 col-12">
            <p class="brand-title">Logo Produk Biokonversi</p>
            <p>Logo Produk Biokonversi indonesia</p><br>
            <a class="btn btn-outline-primary" href="https://drive.google.com/open?id=1e4qCpbaNQqmIektatwfzjF4tSFhPUKsd" target="_blank">
              Unduh Dokumen
            </a> 
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}