{% extends 'layout.html' %} {% include '_nav.html' %} {% block body %}

<section class="page-section m-0">

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 img-fluid" src="../static/banner-home.jpeg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid" src="../static/banner-home.jpeg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid" src="../static/banner-home.jpeg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</section>

<section class="page-section">
  <div class="container">

    <!-- <div class="nav1 mt-5">
      <h2 class="section-heading text-center text-white">
        <span class="section-heading-lower">Tentang Kami</span>
      </h2>
    </div> -->

    <div class="col-12 col-md-11 text-center mx-auto">
      <h2 class="section-heading bio-green">
        <span class="section-heading-lower">PT. Bio Konversi Indonesia</span>
      </h2>
      <h3 class="section-heading">
        <span class="section-heading-upper">Produktifitas Meningkat, Petani / Pekebun Untung</span>
      </h3>
      <p>PT Bio Konversi Indonesia, berlokasi di Bekasi, Jawa Barat, berdiri di atas lahan seluas 11,000M2, dan saat ini pembangunan
        dan pengembangan fasilitas produksi masih terus berjalan, baik dari sisi peningkatan kapasitas produksi mauapun modernisasi
        dan otomasi produksi. Saat ini kami memproduksi 20,000 liter Pupuk Hayati Cair dan 10,000 kg Pupuk Hayati Padat per
        bulan dan akan ditingkatkan sampai 400,000 liter Pupuk Hayati Cair dan 200,000 kg Pupuk Hayati Padat pada akhir tahun
        2018. Selain di Bekasi, PT Bio Konversi Indonesia juga sedang mempersiapkan fasilitas produksi di beberapa wilayah
        di Indonesia, antara lain, Sumatera Utara, Batam dan NTB, dan nantinya diharapkan bisa berkembang ke seluruh Indonesia,
        sehingga distribusi lebih mudah, dan manfaat dari Pupuk Hayati Biokonversi dapat dirasakan oleh pertanian dan perkebunan
        Indonesia.
      </p>
      <a href="/tentang" class="btn btn-outline-primary">Baca Selengkapnya</a>
    </div>
    <div class="col-md-6 col-18 mt-4 mx-auto">
      <img src="../static/img/visi-misi-biokonversi.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-md-10 col-12 embed-responsive embed-responsive-16by9 mt-4 mx-auto">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/As5sCHYdfu8?rel=0&amp;showinfo=0" frameborder="0"
        allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</section>

<!-- 
<section class="page-section cta" style="background: url('{{ url_for('static', filename='bg.jpg')}}');background-attachment: fixed;">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center text-white">
          <h2 class="section-heading mb-4">
            
            <span class="section-heading-lower">SELAMAT DATANG DI BIO KONVERSI INDONESIA</span>
          </h2>
          <p class="mb-0">Biokonversi Indonesia Berawal dari keprihatinan para pendiri terhadap kondisi pertanian dan perkebunan yang hasilnya
            semakin menurun, kemudian permasalahan pupuk di Indonesia, baik dari sisi sudah terlalu lama tanah Indonesia
            yang subur dibanjiri dengan pupuk dan obat2an kimia maupun dari sisi sulitnya petani, khususnya petani kecil
            memperoleh pupuk, dan terakhirpermasalahan gizi buruk/stunting yang makin meluas di Indonesia.</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="page-section clearfix">
  <div class="container">

    <div class="nav1 mt-5">
      <h2 class="section-heading text-center text-white">
        <span class="section-heading-lower">Testimoni</span>
      </h2>
    </div>

    <div class="col-12 col-md-10 mx-auto">
      <div class="card-deck">
        {% for testimoni in testimonis %}
        <div class="card">
          <img class="card-img-top" src="../static/img/{{testimoni.img}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{testimoni.title}}</h5>
            <span class="card-text">{{testimoni.body[:150] | safe}}
              <a href="testimoni_isi/{{testimoni.id}}" class="text-muted">...Baca Selengkapnya</a>
            </span>
            <p class="card-text">
              <small class="text-muted">uploaded {{testimoni.create_date}}</small>
            </p>
          </div>
          <div class="card-footer text-right">
            <a href="testimoni_isi/{{testimoni.id}}" class="btn btn-outline-primary">Baca Selengkapnya</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="nav1">
      <h2 class="section-heading text-center text-white">
        <span class="section-heading-lower">Berita</span>
      </h2>
    </div>

    <div class="col-12 col-md-10 mx-auto">
      <div class="card-deck">
        {% for article in articles %}
        <div class="card">
          <img class="card-img-top" src="../static/img/{{article.img}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{article.title}}</h5>
            <span class="card-text">{{article.body[:150] | safe}}
              <a href="dokumen_isi/{{article.id}}" class="text-muted">...Baca Selengkapnya</a>
            </span>
            <p class="card-text">
              <small class="text-muted">uploaded {{article.create_date}}</small>
            </p>
          </div>
          <div class="card-footer text-right">
            <a href="dokumen_isi/{{article.id}}" class="btn btn-outline-primary">Baca Selengkapnya</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- Kegiatan -->
<section class="page-section">
  <div class="container">
    <div class="nav1 mt-5">
      <h2 class="section-heading text-center text-white">
        <span class="section-heading-lower">Kegiatan</span>
      </h2>
    </div>

    <div class="col-12 col-md-10 mx-auto">
      <div class="card-deck">
        {% for kegiatan in kegiatans %}
        <div class="card">
          <img class="card-img-top" src="../static/img/{{kegiatan.img}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{kegiatan.title}}</h5>
            <span class="card-text">{{kegiatan.body[:150] | safe}}
              <a href="kegiatan_isi/{{kegiatan.id}}" class="text-muted">...Baca Selengkapnya</a>
            </span>
            <p class="card-text">
              <small class="text-muted">uploaded {{kegiatan.create_date}}</small>
            </p>
          </div>
          <div class="card-footer text-right">
            <a href="kegiatan_isi/{{kegiatan.id}}" class="btn btn-outline-primary">Baca Selengkapnya</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="nav1">
      <h2 class="section-heading text-center text-white">
        <span class="section-heading-lower">Layanan Konsumen</span>
      </h2>
    </div>
    <div class="col-md-8 col-12 mx-auto">
      <form>
        <div class="form-group">
          <input type="text" class="form-control input-orange" id="formGroupExampleInput" placeholder="Nama Lengkap">
        </div>
        <div class="form-group">
          <input type="email" class="form-control input-orange" id="formGroupExampleInput2" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="tel" class="form-control input-orange" id="formGroupExampleInput" placeholder="Telepon">
        </div>
        <div class="form-group">
          <select class="form-control input-orange" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control input-orange" id="formGroupExampleInput" placeholder="Pertanyaan" rows="5"></textarea>
        </div>
        <center>
          <a href="#" class="btn btn-outline-primary">Get In Touch</a>
        </center>
      </form>
    </div>
  </div>
</section>

<!-- <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Fresh Coffee</span>
              <span class="section-heading-lower">Worth Drinking</span>
            </h2>
            <p class="mb-3">Every cup of our quality artisan coffee starts with locally sourced, hand picked ingredients. Once you try it, our coffee will be a blissful addition to your everyday morning routine - we guarantee it!
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-outline-primary btn-xl" href="#">Visit Us Today!</a>
            </div>
          </div>
        </div> -->

{% endblock %}