{% extends 'layout.html' %} {% include '_nav.html' %} {% block body %}


<section class="page-section">
  <div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63447.137567554615!2d106.95710874104408!3d-6.336215826094356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6993cd1cfd5131%3A0xbc41a51ae9cf5e0e!2sBantargebang%2C+Bekasi+City%2C+West+Java!5e0!3m2!1sen!2sid!4v1531739318041"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
      <address>
          <p>
            <br> PT. BIO KONVERSI INDONESIA
            <br> Bantar Gebang, Bekasi - Indonesia
            <br>
            <a href="mailto:info@biokonversi.com">info@biokonversi.com </a>
            <br>
            <a href="tel:082110934336">082110934336</a>
            <br>
            <span style="font-size:2em">
              <a href="https://www.facebook.com/biokonversi.id/"><i class="fab fa-facebook"></i></a>
              <a href="https://www.instagram.com/biokonversi.id/"><i class="fab fa-instagram"></i></a>
              <a href="https://twitter.com/biokonversi_id"><i class="fab fa-twitter"></i></a>
              <a href="https://www.youtube.com/channel/UC5SObBldpXFdkGZ2mas762A"><i class="fab fa-youtube"></i></a>
            </span>
          </p>
        </address>
  </div>

</section>

<!-- <section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Strong Coffee, Strong Roots</span>
              <span class="section-heading-lower">About Our Cafe</span>
            </h2>
            <p>Founded in 1987 by the Hernandez brothers, our establishment has been serving up rich coffee sourced from artisan
              farmers in various regions of South and Central America. We are dedicated to travelling the world, finding
              the best coffee, and bringing back to you here in our cafe.</p>
            <p class="mb-0">We guarantee that you will fall in
              <em>lust</em> with our decadent blends the moment you walk inside until you finish your last sip. Join us for your
              daily routine, an outing with friends, or simply just to enjoy some alone time.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

{% endblock %}