<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bio Konversi</title>

  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='main.css')}}" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51023171-8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-51023171-8');
  </script>

</head>

<body>

  {% block body %} {% endblock %}

  <footer class="footer text-white pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5 offset-md-1 col-12">
          <address>
            <p>
              <span style="font-size:1.5rem">CONTACT US</span>
              <br> PT. BIO KONVERSI INDONESIA
              <br> Bantar Gebang, Bekasi - Indonesia
              <br>
              <a href="mailto:info@biokonversi.com">info@biokonversi.com </a>
              <br>
              <a href="tel:082110934336">082110934336</a>
              <br>
              <span style="font-size:2em">
                <a href="https://www.facebook.com/biokonversi.id/">
                  <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/biokonversi.id/">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="https://twitter.com/biokonversi_id">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com/channel/UC5SObBldpXFdkGZ2mas762A">
                  <i class="fab fa-youtube"></i>
                </a>
              </span>
            </p>
          </address>
        </div>
        <div class="col-md-5 col-12">
          <form class="bg-light text-dark p-3 bg-shadow text-right">

            <div class="form-group">
              <label for="exampleFormControlInput1">
                <h5>Dapatkan Update Biokonversi Melalui Email Anda</h5>
              </label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email">
            </div>
            <div class="form-group">
              <a href="#" class="btn btn-outline-primary">Subscribe Now</a>
            </div>
          </form>
        </div>
        
      </div>
      <!-- <p class="m-0 small">Copyright &copy; Your Website 2018</p> -->
    </div>
    <div class="mx-auto text-center py-3">
        <small>©2018 by PT. Bio Konversi Indonesia.</small> 
      </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='bootstrap.bundle.min.js')}}"></script>
  
</body>

</html>