{% extends 'layout.html' %} {% include '_nav.html' %} {% block body %}

<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 my-4">
        <a href="https://www.facebook.com/biokonversi.id/">
          <img src="../static/img/facebook.jpg" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6 my-4">
        <a href="https://www.instagram.com/biokonversi.id/">
          <img src="../static/img/instagram.jpg" alt="" class="img-fluid">
        </a>

      </div>
      <div class="col-md-6 my-4">
        <a href="https://twitter.com/biokonversi_id">
          <img src="../static/img/twitter.jpg" alt="" class="img-fluid">
        </a>

      </div>
      <div class="col-md-6 my-4">
        <a href="https://www.youtube.com/channel/UC5SObBldpXFdkGZ2mas762A">
          <img src="../static/img/youtube.jpg" alt="" class="img-fluid">
        </a>

      </div>
    </div>
  </div>
</section>

{% endblock %}