{% extends 'layout.html' %} {% include '_nav.html' %} {% block body %}

<section class="page-section m-0">
  <div class="produk-header" style="background: url('{{ url_for('static', filename='p-header.jpeg')}}');background-attachment:fixed;background-position:bottom;">
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="col-md-10 mx-auto text-center">
      <h2 class="section-heading text-white nav1">
        <span class="section-heading-lower">Portofolio Produk</span>
      </h2>
      <p>
        <strong>Biokonversi & Biokon</strong> adalah Pupuk Hayati berbahan aktif organisme hidup yang berfungsi untuk menyediakan
        hara tanah, dan menstimulasi tersedianya hara dalam tanah bagi tanaman. Biokonversi diproduksi secara organic tanpa
        proses maupun campuran bahan kimia, dan menghasilkan nutrisi yang dibutuhkan oleh tanah dan tanaman secaa natural
      </p>
    </div>
  </div>
</section>

<section class="page-section nav1 py-5 mb-5">
  <div class="container">
    <div class="row text-center text-white">
      <div class="col-md-4 col-10 mx-auto">
        <a href="/produk_biokonversi">
          <img src="../static/img/logo-biokonversi.jpg" alt="" class="img-fluid">
          <p class="brand-title mt-3"><u>Produk Biokonversi</u></p>
        </a>
      </div>
      <div class="col-md-4 col-10 mx-auto">
        <!-- <a href="/produk_biokon"> -->
          <img src="../static/img/logo-biokon.jpg" alt="" class="img-fluid">
          <p class="brand-title mt-3">Produk Biokon</p>
        <!-- </a> -->
      </div>
    </div>
  </div>
</section>

{% endblock %}