{% extends 'layout.html' %} {% include '_nav.html' %} {% block body %}

<section class="page-section m-0">
  <div class="produk-header" style="background: url('{{ url_for('static', filename='p-header.jpeg')}}');background-attachment:fixed;background-position:bottom;background-size:cover">
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="row mx-auto text-center">
      <div class="col-md-10 col-12 mx-auto">
        <h2 class="section-heading text-white nav1">
          <span class="section-heading-lower">Biokonversi</span>
        </h2>
        <p>
          Biokonversi adalah Pupuk Cair berbahan aktif organisme hidup yang berfungsi untuk menyediakan hara tanah, dan menstimulasi
          tersedianya hara dalam tanah bagi tanaman. Biokonversi diproduksi secara organik tanpa proses maupun campuran bahan
          kimia, dan menghasilkan nutrisi yang dibutuhkan oleh tanah dan tanaman secaa natural Biokonversi bekerja dengan
          cara menjaga kehidupan bakteri positif dalam tanah, menangkap unsur nitrogen bebas di udara, mengurai fosfat, dan
          merubah menjadi bentuk yang siap diserap oleh akar tanaman. Biokonversi juga megandung hormon pertumbuhan natural
          yang akan meningkatkan produktifitas tanaman
        </p>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="row">
      {% for product in products%}
      <div class="col-md-5 offset-md-1 col-12 my-3">
        <a href="{{product.link}}">
          <img src="../static/img/{{product.img1}}" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-md-5 offset-md-0 col-12 my-3">
        <h2>{{product.title}} <br>{{product.content}}</h2>
        <p>{{product.desc}}</p>
        <a href="{{product.link}}" class="btn btn-outline-primary">Baca Selengkapnya</a>
        <!-- <a href="">
          <img src="../static/img/logo-biokon.png" alt="" class="img-fluid">
        </a> -->
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}