{% extends 'layout.html' %} {% include '_nav.html' %} {% block body %}

<section class="page-section m-0">
  <div class="produk-header" style="background: url('{{ url_for('static', filename='p-biokon-header.jpg')}}');background-attachment:fixed;background-position:bottom;background-size:cover">
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="col-12 mx-auto text-center">
      <h2 class="section-heading text-white nav1">
        <span class="section-heading-lower">Biokon</span>
      </h2>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="col-12 col-md-8 mx-auto">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="../static/img/p-biokon-1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="../static/img/p-biokon-1.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="../static/img/p-biokon-1.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="col-12 col-md-10 mx-auto">
      <h1>Pupuk Organik Biokon (Sayuran)</h1>
      <br>
      <p>
        <strong>Deskripsi Produk
          <br>Netto 1 Liter (isi berupa cairan)</strong>
      </p>
      <p>Dengan kandungan hara, mikroba, hormon, dan pestisida organik. Mempercepat pertumbuhan dan meningkatkan produktifitas.
        Cocok untuk segala tanaman seperti padi, jagung, sawit, kacang2an, umbi2an, sayuran, buah dan tanaman hias.</p>
      <br>
      <p>
        <strong>MANFAAT UMUM BIOKONVERSI : </strong>
      </p>
      <ul>
        <li>Mengembalikan kesuburan tanah, dengan memperbaiki kondisi biologi, fisik dan kimia tanah, sehingga dapat menyediakan
          sumber hara bagi tanaman. </li>
        <li>Meningkatkan kapasitas tukar kation dan sistem aerasi dalam tanah. </li>
        <li>Meningkatkan kemampuan daun menarik unsur hara dalam proses transportasi unsur hara dari akar dan merangsang pertumbuhan
          akar, batang, daun agar berkembang sempurna serta memperpanjang usia akar.</li>
        <li>Memacu mitosis jaringan meristem pad titik tumbuh pucuk, kuncup bunga dan stolon.</li>
        <li>Meningkatkan daya tahan tanaman, terutama melindungi akar terhadap serangan hama dan penyakit.</li>
        <li>Meningkatkan daya tahan tanaman dari racun logam berat. </li>
        <li>Meningkatkan produktifitas tanaman, melalui metabolit pengatur tumbuh dan bioaktivator. </li>
        <li>Meningkatkan efektifitas pupuk kimia dan mengurangi leaching pupuk kimia.</li>
      </ul>
      <p>
        <strong>NUTRISI YANG TERKANDUNG DALAM PUPUK CAIR BIOKONVERSI : </strong>
      </p>
      <p>Unsur hara makro (N,P,K) dan mikro (Fe,Mn, Cu,Zn),
        <br> Mikroba majemuk yang bermanfaat bagi tanah dan tanaman (Rhizobium, Azotobacter, Azospirillum, Pseudomonas, Lactobacillus,
        Penambat Nitrogen, Pelarut Phospat)
        <br> Hormon/Zat Pengatur Tumbuh (Auksin, Giberellin dan Sitokinin) yang merangsang pertumbuhan dan perkembangan tanaman
        (akar, batang, daun, bunga dan buah)
        <br> Fungisida (Trichoderma) dan Insectisida Organik, yang akan bekerja secara sistemik dan meningkatkan ketahanan tanaman
        terhadap serangan hama dan penyakit </p>
      <a href="" class="btn btn-outline-primary">Beli Sekarang</a>
    </div>
  </div>
</section>

{% endblock %}