{% extends 'layout.html' %} {% include '_nav.html' %} {% block body %}

<!-- <section class="page-section m-0">
  <div class="produk-header" style="background: url('{{ url_for('static', filename='bg.jpg')}}');background-attachment:fixed;">
    <div class="container">
      <div class="cold-md-8 offset-md-2">
        <h2 class="section-heading mt-5 text-white">
          <span class="section-heading-lower">Tentang Kami</span>
        </h2>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../static/img/1900x700.png" alt="">
    <div class="about-heading-content text-white">
      <div class="row">
        <div class="col-xl-9 col-lg-10">
          <div class="bg-faded rounded p-5 bg-bio-green trans">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Sejarah</span>
            </h2>
            <p>Berawal dari keprihatinan para pendiri terhadap kondisi pertanian dan perkebunan Indonesia yang hasilnya semakin
              menurun, kemudian permasalahan pupuk di Indonesia, baik dari sisi sudah terlalu lama tanah Indonesia yang subur
              dibanjiri dengan pupuk dan obat2an kimia maupun dari sisi sulitnya petani, khususnya petani kecil memperoleh
              pupuk, dan terakhir permasalahan gizi buruk/stunting yang makin meluas di Indonesia, maka melalui riset dan
              percobaan-percobaan selama lebih dari 5 tahun, PT Bio Konversi Indonesia, berdiri pada bulan Juni 2017, dengan
              tujuan untuk menyediakan biofertilizer / pupuk hayati / pupuk organic berkualitas tinggi bagi pertanian dan
              perkebunan Indonesia dengan harga terjangkau, sehingga produksi perkebunan dan pertanian Indonesia dapat kembali
              berjaya, dengan output produk yang sehat, bergizi tinggi dan bebas unsur kimia.</p>
          </div>
        </div>
      </div>
    </div>

    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0 mt-3" src="../static/img/1900x700.png" alt="">
    <div class="about-heading-content text-white">
      <div class="row">
        <div class="col-xl-9 col-lg-10 offset-lg-2 offset-xl-3">
          <div class="bg-faded rounded p-5 bg-bio-green trans">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Latar Belakang</span>
            </h2>
            <p>PT Bio Konversi Indonesia, berlokasi di Bekasi, Jawa Barat, berdiri di atas lahan seluas 11,000M2, dan saat ini
              pembangunan dan pengembangan fasilitas produksi masih terus berjalan, baik dari sisi peningkatan kapasitas
              produksi mauapun modernisasi dan otomasi produksi. Saat ini kami memproduksi 20,000 liter Pupuk Hayati Cair
              dan 10,000 kg Pupuk Hayati Padat per bulan dan akan ditingkatkan sampai 400,000 liter Pupuk Hayati Cair dan
              200,000 kg Pupuk Hayati Padat pada akhir tahun 2018. Selain di Bekasi, PT Bio Konversi Indonesia juga sedang
              mempersiapkan fasilitas produksi di beberapa wilayah di Indonesia, antara lain, Sumatera Utara, Batam dan NTB,
              dan nantinya diharapkan bisa berkembang ke seluruh Indonesia, sehingga distribusi lebih mudah, dan manfaat
              dari Pupuk Hayati Biokonversi dapat dirasakan oleh pertanian dan perkebunan Indonesia.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section> -->


<section class="page-section">
  <div class="container">
    <div class="product-item text-white">
      <div class="product-item-title d-flex">
        <div class="bg-bio-green trans p-5 d-flex ml-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">Sejarah</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../static/img/tentang-1.jpg" alt="">
      <div class="product-item-description d-flex mr-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">Berawal dari keprihatinan para pendiri terhadap kondisi pertanian dan perkebunan Indonesia yang hasilnya semakin
            menurun, kemudian permasalahan pupuk di Indonesia, baik dari sisi sudah terlalu lama tanah Indonesia yang subur
            dibanjiri dengan pupuk dan obat2an kimia maupun dari sisi sulitnya petani, khususnya petani kecil memperoleh
            pupuk, dan terakhir permasalahan gizi buruk/stunting yang makin meluas di Indonesia, maka melalui riset dan percobaan-percobaan
            selama lebih dari 5 tahun, PT Bio Konversi Indonesia, berdiri pada bulan Juni 2017, dengan tujuan untuk menyediakan
            biofertilizer / pupuk hayati / pupuk organic berkualitas tinggi bagi pertanian dan perkebunan Indonesia dengan
            harga terjangkau, sehingga produksi perkebunan dan pertanian Indonesia dapat kembali berjaya, dengan output produk
            yang sehat, bergizi tinggi dan bebas unsur kimia.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item text-white">
      <div class="product-item-title d-flex">
        <div class="bg-bio-green trans p-5 d-flex mr-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">Latar Belakang</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../static/img/tentang-2.jpg" alt="">
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">PT Bio Konversi Indonesia, berlokasi di Bekasi, Jawa Barat, berdiri di atas lahan seluas 11,000M2, dan saat ini
            pembangunan dan pengembangan fasilitas produksi masih terus berjalan, baik dari sisi peningkatan kapasitas produksi
            mauapun modernisasi dan otomasi produksi. Saat ini kami memproduksi 20,000 liter Pupuk Hayati Cair dan 10,000
            kg Pupuk Hayati Padat per bulan dan akan ditingkatkan sampai 400,000 liter Pupuk Hayati Cair dan 200,000 kg Pupuk
            Hayati Padat pada akhir tahun 2018. Selain di Bekasi, PT Bio Konversi Indonesia juga sedang mempersiapkan fasilitas
            produksi di beberapa wilayah di Indonesia, antara lain, Sumatera Utara, Batam dan NTB, dan nantinya diharapkan
            bisa berkembang ke seluruh Indonesia, sehingga distribusi lebih mudah, dan manfaat dari Pupuk Hayati Biokonversi
            dapat dirasakan oleh pertanian dan perkebunan Indonesia.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ml-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">From Around the World</span>
            <span class="section-heading-lower">Bulk Speciality Blends</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/products-03.jpg" alt="">
      <div class="product-item-description d-flex mr-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">Travelling the world for the very best quality coffee is something take pride in. When you visit us, you'll always
            find new blends from around the world, mainly from regions in Central and South America. We sell our blends in
            smaller to large bulk quantities. Please visit us in person for more details.</p>
        </div>
      </div>
    </div>
  </div>
</section> -->


{% endblock %}