{% extends '_dashboard.html' %} {% block body %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">VIEW KEGIATAN</h1>
    <!-- <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div> -->
  </div>

  <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

  <h2>kegiatan List</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>TITLE</th>
          <th>BODY</th>
          <th>IMG</th>
          <th>STATUS</th>
          <th>DATE</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      {% for kegiatan in kegiatans %}
      <tbody>
        <tr>
          <td>{{kegiatan.id}}</td>
          <td>{{kegiatan.title}}</td>
          <td>{{kegiatan.body[:100] | safe}}</td>
          <td>{{kegiatan.img}}</td>
          <td>{{kegiatan.stat}}</td>
          <td>{{kegiatan.create_date}}</td>
          <td><a href="edit_kegiatan/{{kegiatan.id}}" class="btn btn-info pullright">Edit</a></td>
          <td><a href="" class="btn btn-danger pullright">Delete</a></td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</main>
</div>
</div>

{% endblock %}